*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    position: relative;
    color: #333;
    overflow-x: hidden;
}

/* Background fixed tetap hidup + kompatibel dengan backdrop-filter */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../aset/aset/background.jpg') center/cover no-repeat;
    z-index: -1;
}


header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;

    background: rgba(79, 79, 79, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);

}header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: left;
}


.detail-wrapper {
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}

/* Kolom Kiri (Gambar) */
.left-column {
    flex: 1;
    max-width: 400px;
}

.commander-detail .left-column img {
    width: 100%;
    max-width: 450px;   /* bebas ubah */
    height: auto;
    border-radius: 12px;
}

.item-detail .left-column{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-detail .left-column img {
    width: 100%;
    max-width: 170px;   /* gambar item biasanya kecil */
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Kolom Kanan (Teks) */
.right-column {
    flex: 2;
    text-align: left;
}

.right-column h1 {
    font-size: 1.1rem;
    margin: 10px 0 20px 0;
    color: #f1f1f1;
}

.tag {
    display: inline-block;
    color: #f1f1f1;
    border-radius: 20px;
    font-size: 2.6rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* Styling Ability Box */
.ability-box {
    background: rgba(20, 20, 20, 0.45); /* black glass */
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    padding: 15px 18px;
    border-radius: 10px;
    margin-bottom: 15px;

    border-left: 6px solid #f1f1f1;  

    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
    color: #f1f1f1;
}


.ability-box h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #f1f1f1;
}

.ability-box p {
    color: #f1f1f1;
    line-height: 1.6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .detail-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .left-column {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .right-column {
        text-align: center;
    }

    .ability-box {
        text-align: left;
    }
}

.footer {
    width: 100%;
    margin-top: 60px;
    padding: 90px 40px;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.footer-container {
    display: grid;
    grid-template-columns: 1.4fr 1fr 1fr 1fr;
    gap: 40px;
    color: #fff;
}


.footer-col h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.footer-col h3 {
    margin-bottom: 15px;
    color: #0084ff;
    font-weight: 600;
}

.footer-col p {
    line-height: 1.7;
    color: #d9d9d9;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 12px;
}

.footer-col ul li a {
    text-decoration: none;
    color: #d9d9d9;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: #0084ff;
    padding-left: 5px;
}

/* Social Icons */
.social-icons i {
    margin-right: 12px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.social-icons i:hover {
    color: #0084ff;
}

/* Tombol */
.footer-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #f1f1f1;
    color: #003a71;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-btn:hover {
    transform: translateY(-3px);
    background: #0084ff;
}

/* Garis */
footer hr {
    border: none;
    border-top: 1px solid rgba(255,255,255,0.15);
    margin: 40px 0 25px;
}

/* Bottom text */
.footer-bottom {
    text-align: center;
    color: #ddd;
    font-size: 14px;
}

